<!DOCTYPE html>
{% load static %}
<html lang="en">

<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"> -->
  <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

</head>
<body>
<!-- <h2>Perfil do Usuario:</H2>
<h3> Nome:</h3></br>
<h3> Endereço:</h3></br>
<h3> Meus dados:</h3></br> -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">AutoCorns</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Início
              <span class="sr-only">(current)</span>
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login/Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'perfil' %}">perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'categoria' %}">Categorias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div class="container emp-profile">
            <form method="post" >
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit"  name="btnAddMore" value="Enviar"/>
            </form>           
        </div>