<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Desenvolvimento AutoCorns</title>
  <style type="text/css">
    .center{
      margin: 0 auto;
      text-align: center;

    }
    .cor{

    }
  </style>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">AutoCorns</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Início
              <span class="sr-only">(current)</span>
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login/Cadastro</a>
          </li>

         {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'perfil' user.id %}">perfil</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
  
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">AutoCorns</h1>
      <p class="lead">Venda e Aluguel de Carros </p>
    </header>

    <h4 class="card-title btn-primary" align="center">Aluguel</h4>
    <div class="row text-center">
     

    {% for carro in carros_d %}
    
      <div class="col-lg-3 col-md-6 col-sm-4 col-12">
        <div class="card h-100">
          <img class="card-img-top" src="{{ carro.imagem.url }}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{ carro.nome }}</h4>
            <p class="card-text"><h5>R$ {{ carro.preco }} </h5>
          </div>
          <div class="card-footer">
            <a href="{{ carro.link }}" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
   
    {% endfor %}
     </div>

     <h4 class="card-title btn-primary" align="center">Comprar</h4>
    <div class="row text-center">
     

    {% for carro in carros_c %}
    
      <div class="col-lg-3 col-md-6 col-sm-4 col-12">
        <div class="card h-100">
          <img class="card-img-top" src="{{ carro.imagem.url }}" alt="">
          <div class="card-body">
            <h4 class="card-title">{{ carro.nome }}</h4>
            <p class="card-text"><h5>R$ {{ carro.preco }} </h5>
          </div>
          <div class="card-footer">
            {% if user.is_authenticated %}
            <a href="{{ carro.link }}" class="btn btn-primary">Acessar</a>
            {% else %}
            <a href="{% url 'cadastro' %}" class="btn btn-primary">Cadastra-se</a>
            {% endif %}
          </div>
        </div>
      </div>
   
    {% endfor %}
     </div>
    <!-- /.row -->

    <div class="card-footer center">
            <a href="#" class="btn btn-success" >Voltar ao topo </a>
    </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">E-maill: AutoCorns@outlook.com.br</br> Fone: (84)998558-4224</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
