<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Desenvolvimento AutoCorns</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">AutoCorns</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Início
              <span class="sr-only">(current)</span>
              
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login/Cadastro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Categorias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">AutoCorns</h1>
      <p class="lead">Venda e Aluguel de Carros </p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://imguol.com/c/carros/blogs/32/2018/08/31/citroen-c4-cactus-para-pcd-ja-pode-ser-encomendado-por-r-69990-1535734358325_v2_900x506.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$86.490 </h5> Taxa Zero</br> Entrada + Saldo em 24x</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://fotos.jornaldocarro.estadao.com.br/uploads/2018/12/03151834/37620922-1160x773.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$86.490 </h5> Taxa Zero</br> Entrada + Saldo em 24x</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://production.autoforce.com/uploads/picture/image/26290531/used_model_comprar-compass-2-0-16v-limited-2019-347_ab5b276c20.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$ 69.568</h5> </br>Á vista</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img2.icarros.com/dbimg/imgadicionalnoticia/4/103482_1" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$86.490 </h5> Taxa Zero</br> Entrada + Saldo em 24x</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.vw.com.br/content/dam/vw-ngw/vw_pkw/importers/br/models/my20/jetta/stage/Volkswagen_Jetta_GLI_Stage_01_2560x1440px.jpg/_jcr_content/renditions/original.transform/max/img.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$86.490 </h5> Taxa Zero</br> Entrada + Saldo em 24x</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://http2.mlstatic.com/D_NQ_NP_748494-MLB30105882905_042019-W.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$ 78.890</h5> </br>Á vista</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://www.chevrolet.com.br/content/dam/chevrolet/mercosur/brazil/portuguese/index/cars/2018-cruze/colorizer/01-images/novo-cruze-2018-vermelho-edible-summit-mov-intro-01.png?imwidth=1200" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$86.490 </h5> Taxa Zero</br> Entrada + Saldo em 24x</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://img1.icarros.com/dbimg/galeriaimgmodelo/2/126550_1" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$86.490 </h5> Taxa Zero</br> Entrada + Saldo em 24x</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://production.autoforce.com/uploads/picture/image/26290531/used_model_comprar-compass-2-0-16v-limited-2019-347_ab5b276c20.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$86.490 </h5> Taxa Zero</br> Entrada + Saldo em 24x</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://production.autoforce.com/uploads/picture/image/26290531/used_model_comprar-compass-2-0-16v-limited-2019-347_ab5b276c20.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$ 90.560</h5> </br>Á vista</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="https://production.autoforce.com/uploads/picture/image/26290531/used_model_comprar-compass-2-0-16v-limited-2019-347_ab5b276c20.jpg" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$86.490 </h5> Taxa Zero</br> Entrada + Saldo em 24x</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src=https://abrilquatrorodas.files.wordpress.com/2019/06/kia-seltos-2020-1600-01-e1561122591812.jpg?quality=70&strip=info&w=1024" alt="">
          <div class="card-body">
            <h4 class="card-title">Fiat Toro</h4>
            <p class="card-text"><h5>R$86.490 </h5> Taxa Zero</br> Entrada + Saldo em 24x</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">comprar</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

    <div class="card-footer">
            <a href="#" class="btn btn-success">Voltar ao topo </a>
          </div>

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">E-maill: AutoCorns@outlook.com.br</br> Fone: (84)998558-4224</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>